@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  @apply bg-gray-950 text-white;
}
.swal2-popup {
  width: 800px; /* Puedes ajustar este valor según tus necesidades */
}

.custom-popup-class {
  width: 1240px; /* Puedes ajustar este valor según tus necesidades */
}

.input-style {
  font-size: 10px; /* Tamaño de fuente para los inputs */
}

.img-style {
  max-width: 100%; /* Ajustar el ancho máximo de la imagen */
  height: auto; /* Ajustar la altura automáticamente */
}